@font-face {
  font-family: 'Nunito';
  src: 
       url('./fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Ruska';
  src: 
       url('./fonts/RuskaDisplay-Regular.otf') format('truetype');
}

.App {
  font-family: 'Nunito';
}
